@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Poppins:wght@200&display=swap');

:root {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    display: flex;
    height: 100vh;
    margin: 0;
    background-color: whitesmoke;
    
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://media.istockphoto.com/id/1302642699/es/vector/fondo-vectorial-rojo-abstracto-con-rayas-se-puede-utilizar-para-el-dise%C3%B1o-de-la-cubierta.jpg?s=612x612&w=0&k=20&c=XA94na2XC5MuFKVw4sI9aoTkM5F-6mju-xwNthFlObA=');
    height: 100vh;
    width: 40%;
}

.logo-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: rgba(0, 0, 0, 50%);
}
.logo {
    max-height: 100px;
}

.logo-header {
    font-family: 'Dancing Script', sans-serif;
    color: white;
    font-size: 4rem;
}

main {
    margin: 150px 0;
    width: 100%;
}

h2 {
    font-size: 3rem;
    margin: 50px 100px;
}

em{
    color: #E32807;
}

section {
    padding: 50px 100px;
    background-color: white;
    border: 1px solid #e0dfda;
    box-shadow: 5px 5px 5px #e0dfda;
}

.inputs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px;
    max-width: 40%;
    height: 220px;
}

legend {
    font-size: 2rem;
    margin: 0 0 20px;
}

label {
    font-size: 1.1rem;
    color: black;
    font-weight: bold;
}

div.input {
    display: flex;
    flex-direction: column;
}

input {
    height: 30px;
    width: 150px;
    border: 1px solid #E5E7EB;
    border-radius: 1px;
}

input:focus {
    outline: transparent;
    border: 1px solid #2891e0;
    border-radius: 3px;
    box-shadow: 1px 1px 1px #e0dfda;
}

.error {
    border: 2px solid red;
}

.error-message{
    color: red;
    font-size: 1.1rem;
}

button {
    background-color: #E32807;
    margin: 30px 100px;
    padding: 8px 25px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #e0dfda;
    cursor: pointer;
    color: white;
}

p.sign-in {
    margin: 0 100px;
    font-size: 1.7rem;
}

a {
    text-decoration: none;
    color:#E32807
}
